<%= "your facebook id : #{@user_id}"%><br />
<%= "token            : #{@token}"%>
<%= render 'form' %>
<% if false #@user_exist %>
  <%= render 'lookup' %>
<% end %>
<div id="result_container">
</div>

<script type="text/javascript">
  getFriendsANDlookup = function(){
    $('body').fadeTo( 'fast', 0.50);
    getData("SELECT uid2 FROM friend WHERE uid1 = me()",
      function(response){
        friendListFull = true;
        friend_ids = ''
        $(response).each(function(){
          friend_ids +=  this.uid2 + ',';
        });
        console.log(friend_ids);
        lookup("<%= @user_id%>",friend_ids);
      });
    return false;
  }
  
  $(document).ready(function (){
    <% if @user.present? %>
      getFriendsANDlookup();  
    <% end %>
    var friendListFull = false;
    $("#n_id_go").click( function() {
      getFriendsANDlookup();  
    });
  });

</script>
