<!DOCTYPE html>
<html>
<head>
  <title>Voteunit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'shared/facebook_api'%>
<%= yield %>

</body>
</html>
